.appp{
    background-color: #dadbd3;
    height: 110vh;
    display: grid;
    place-items: center;
}

.app__body{
    display: flex;
    background-color: #ededed;
    height: 90vh;
    width: 90vw;
    box-shadow: -1px 4px 20px -6px rgba(0,0,0,0.75);
    margin-top: -50px;
}
#logout{
    width:10%;
    height: 100px;
    background-color: white;
    border-radius: 20px;
}